
<h1>Liste des produits favorises du client <%= @client.name %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom</th>
      <th >Type</th>
      <th >Source</th>
      <th >Prix</th>
      <th >Magasin</th>
      <th >Activité</th>
  
    </tr>
  </thead>
  <tbody>
    <% @listes.each do |e| %>
      <tr>
        <td><%= e.produit.nom_produit %></td>
        <td><%= e.produit.type_de_produit.type_produit %> </td>
        <td><%= e.produit.source.pays %></td>
        <td><%= e.produit.prix %></td>
        <td><%= e.produit.magasin.nom_magasin %></td>
        <td>
          <li class = "icon-trash">
            <%= link_to " Delete", client_client_liste_favorise_path(e.produit_id, e), :method => 'delete'%>
          </li>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>